<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>198136419757-rn63u7ie4tsml9334um791n732ui364c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198136419757-rn63u7ie4tsml9334um791n732ui364c</string>
	<key>API_KEY</key>
	<string>AIzaSyCuqtU9aldP4iN2dEWTmz-BMwRGpHP2iWA</string>
	<key>GCM_SENDER_ID</key>
	<string>198136419757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.azbuka.gruzer.auction</string>
	<key>PROJECT_ID</key>
	<string>gruzer-f7431</string>
	<key>STORAGE_BUCKET</key>
	<string>gruzer-f7431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198136419757:ios:4f804dbed9bf72c2</string>
	<key>DATABASE_URL</key>
	<string>https://gruzer-f7431.firebaseio.com</string>
</dict>
</plist>